/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e06e94;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    margin: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    color: #fff;
  }
  
  .album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    width: 90%;
    max-width: 1200px;
  }
  
  .photo {
    width: 100%;
    background-size: cover; 
    background-position: center; 
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px; 
  }
  
  .photo1 { background-image: url('./imgs/img5.jpg'); height: 200px; }
  .photo2 { background-image: url('./imgs/img6.jpg'); height: 250px; }
  .photo3 { background-image: url('./imgs/img7.jpg'); height: 180px; }
  .photo4 { background-image: url('./imgs/img8.jpg'); height: 300px; }
  .photo5 { background-image: url('./imgs/img9.jpg'); height: 220px; }
  .photo6 { background-image: url('./imgs/img10.jpg'); height: 260px; }
  .photo7 { background-image: url('./imgs/img11.jpg'); height: 200px; }
  .photo8 { background-image: url('./imgs/img12.jpg'); height: 280px; }
  .photo9 { background-image: url('./imgs/img13.jpg'); height: 240px; }
  .photo10 { background-image: url('./imgs/img14.jpg'); height: 320px;}
  .photo11 { background-image: url('./imgs/img15.jpg'); height: 200px; }
  .photo12 { background-image: url('./imgs/img16.jpg'); height: 280px; }
  .photo13 { background-image: url('./imgs/img17.jpg'); height: 240px; }
  .photo14 { background-image: url('./imgs/img19.jpg'); height: 320px;}


  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #0a0a0a;
  }
  